---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}


<h2>Conference Papers</h2>

<div style="margin-bottom: 28px;">
  <p><strong><a href="https://ieeexplore.ieee.org/document/11353768">First Demonstration of Oxide Semiconductor BEOL-Compatible Dual-Gate FeFET Achieving a Record-Low Operation Voltage of 0.5 V and a Record-High Memory Window-to-Operation Voltage Ratio of 1.62</a></strong></p>
  <p>Dong Zhang*, <strong><em>Xinming Li*</em></strong>, Xiaopeng Li, Zijie Zheng, Chen Sun, Yang Feng, Yuxuan Wang, Zuopu Zhou, Gan Liu, Xiaolin Wang, Jiezhi Chen, Xiao Gong</p>
  <p><em>IEEE International Electron Devices Meeting (IEDM)</em>, 2025</p>
</div>

<div style="margin-bottom: 28px;">
  <p><strong><a href="https://ieeexplore.ieee.org/document/11353857">First Demonstration of 3D Fe-VNAND with Function-Separated Dual-Layer Oxide Semiconductor Channel and Laminated Ferroelectric Stack</a></strong></p>
  <p>Chen Sun, <strong><em>Xinming Li</em></strong>, Dong Zhang, Wei Shi, Yue Chen, Gan Liu, Rui Shao, Qiwen Kong, Yuxuan Wang, Leming Jiao, Zuopu Zhou, Yang Feng, Xiaolin Wang, Kai Ni, Xiao Gong</p>
  <p><em>IEEE International Electron Devices Meeting (IEDM)</em>, 2025</p>
</div>

<div style="margin-bottom: 28px;">
  <p><strong><a href="https://ieeexplore.ieee.org/document/11074814">A Generalizable Tri-Layer Design Framework for Enhancing OSFET Reliability</a></strong></p>
  <p>Gan Liu, Qiwen Kong, Jingguang Lu, <strong><em>Xinming Li</em></strong>, Chen Sun, Dong Zhang, Xiaolin Wang, Gengchiau Liang, Xiao Gong</p>
  <p><em>IEEE Symposium on VLSI Technology and Circuits</em>, 2025</p>
</div>

<h2>Journal Articles</h2>

<div style="margin-bottom: 28px;">
  <p><strong><a href="https://ieeexplore.ieee.org/document/11284831">Multi-Grain Ferroelectric Induced Drain Current Variability in BEOL-Compatible OS FeFETs</a></strong></p>
  <p>Wei Zhang, Chen Sun, <strong><em>Xinming Li</em></strong>, Zixuan Wang, Jianze Wang, Yunuo Cen, Dong Zhang, Tao Du, Ye Lu, Xiao Gong, Xuanyao Fong</p>
  <p><em>IEEE Electron Device Letters</em>, 2026</p>
</div>

<div style="margin-bottom: 28px;">
  <p><strong><a href="https://doi.org/10.1021/acsanm.3c03366">Toward Nanoscale Organic Tunnel Field-Effect Transistors with Small Subthreshold Swing and High On-State Current: A Computational Design Based on Two-Dimensional Covalent-Organic Frameworks</a></strong></p>
  <p><strong><em>Xinming Li</em></strong>, Yuan Li</p>
  <p><em>ACS Applied Nano Materials</em>, 2024</p>
</div>







