---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

Publications
============

Conference Papers
-----------------
[First Demonstration of Oxide Semiconductor BEOL-Compatible Dual-Gate FeFET...](https://ieeexplore.ieee.org/document/11353768)  
Dong Zhang, ***Xinming Li***, Xiaopeng Li, Zijie Zheng, Chen Sun, Yang Feng, Yuxuan Wang, Zuopu Zhou, Gan Liu, Xiaolin Wang, Jiezhi Chen, Xiao Gong  
*IEEE International Electron Devices Meeting (IEDM)*, 2025  

[First Demonstration of 3D Fe-VNAND...](https://ieeexplore.ieee.org/document/11353857)  
Chen Sun, ***Xinming Li***, Dong Zhang, Wei Shi, Yue Chen, Gan Liu, Rui Shao, Qiwen Kong, Yuxuan Wang, Leming Jiao, Zuopu Zhou, Yang Feng, Xiaolin Wang, Kai Ni, Xiao Gong  
*IEEE International Electron Devices Meeting (IEDM)*, 2025  

[A Generalizable Tri-Layer Design Framework...](https://ieeexplore.ieee.org/document/11074814)  
Gan Liu, Qiwen Kong, Jingguang Lu, ***Xinming Li***, Chen Sun, Dong Zhang, Xiaolin Wang, Gengchiau Liang, Xiao Gong  
*IEEE Symposium on VLSI Technology and Circuits*, 2025  

Journal Articles
----------------
[Multi-Grain Ferroelectric Induced Drain Current Variability in BEOL-Compatible OS FeFETs](https://ieeexplore.ieee.org/document/11284831)  
Wei Zhang, Chen Sun, ***Xinming Li***, Zixuan Wang, Jianze Wang, Yunuo Cen, Dong Zhang, Tao Du, Ye Lu, Xiao Gong, Xuanyao Fong  
*IEEE Electron Device Letters*, 2026  

[Toward Nanoscale Organic Tunnel Field-Effect Transistors...](https://doi.org/10.1021/acsanm.3c03366)  
***Xinming Li***, Yuan Li  
*ACS Applied Nano Materials*, 2024  







