---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

## Publications

1. X. Li, Y. Li, and X. Gong, “Your paper title,” *IEEE Symposium on VLSI Technology and Circuits*, 2026.

2. X. Li, Y. Li, and X. Gong, “Your paper title,” *Journal/Conference Name*, 2025.



